html{
    height: 100%;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: invert(1);
    opacity: 0.02;
}
body {
    background:linear-gradient(70deg, rgba(15, 155, 32, 0.4), rgba(255, 255, 255, 0.4));
    background-attachment: fixed;
    min-height: 100%;
    margin: 0;
}

input {
    display: none;
    font-size: 10px;
}

#header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}


.logo-wrapper {
    margin-left: 1%;
    flex-grow: 1;
}

.logo {
    display: flex;
    margin: 1% 2%;
    min-width: 314px;
}

.logo-str {
    display: block;
    margin-top:45px;
    margin-left: 5px;
}

.reload {
    cursor: pointer;
    width: fit-content;
    padding: 1% 5%;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    left: 2vw;
}

.reload:hover{
    opacity: 0.5;
}

.level-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level-options {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.level-heading {
    text-align: center;
    width: 50%;
}

.level_btn {
    background-color: rgba(15,155,32,0.26);
    border: 1px solid #0f9b20;
    padding: 1em 2em;
    margin-bottom: 1%;
    margin-left: 1%;
    flex-basis: 30%;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    min-width: 242px;
}

.active-level {
    background-color: #7eee3e;
    color: #fff;
}

#info {
    margin: 25vh auto;
}

.panel-container {
    display: flex;
    width: 70%;
    height: 60vh;
    min-width: 400px;
    position: relative;
    margin: 0 auto;
}

.panel-container-play {
    display: grid; /* 碁盤上に配置 */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.untyped {
    color: #000;
    font-size: 1.35em;
    font-weight: bold;
}

.typed {
    color: #ccc;
    font-size: 1.2em;
}

.panel {
    background: #6cf;
    color: #222;
    border-radius: 50%;
    font-size: 1em;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0 2px 8px #4448;
    margin-left: 5%;
}

.faded {
    opacity: 0.4;
    transform: scale(0.8);
}
.active {
    background: #ffd700;
    box-shadow: 0 0 14px #ffd700, 0 2px 8px #4448;
}

/* 3 */
.active span:last-child{
    color: #d33;
}

.game__info {
    display: flex;
    justify-content: space-around;
    border: 2px solid #000;
    width: 80%;
    min-width: 768px;
    padding: 2% 1%;
    margin: 0 auto;
}

.game__info *{
    margin-top: 0;
    margin-bottom: 0;
}

#results  {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 485px;
    width: 40%;
    border-bottom: thick double rgba(255, 0, 0, 0.7) ;
}

.result {
    margin-left: 5%;
    display: block;
    margin-bottom: 1%;
}


